.root{
    -fx-background-color: white;
}

.border-top{
    -fx-background-color: #83bcdd;
     -fx-pref-height: 150.0; /* Adjust the height here if needed */
}

.innerbox {
    -fx-padding: 0 0 0 0; /* Remove padding to let border-top extend to the top */
    -fx-border-radius: 20;
}

.border-left{
    -fx-background-color: #0B7DBD;

}


.side-panel {
    -fx-padding: 0; /* Make sure there is no padding */
}

.nav-bar{
-fx-padding: 90 0 0 0;
-fx-background-color: #0B7DBD;
-fx-alignment: TOP_CENTER;

}

.logo{
    -fx-margin-top: -20px;
}

.nav-button {
    -fx-background-color: #0B7DBD;  /* Adjust the color as needed */
    -fx-text-fill: white;
    -fx-padding: 10 20;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-pref-width: 200.0;
    -fx-min-height: 50.0;
}
.nav-button:hover {
    -fx-background-color: #5599cc; /* Lighter blue for hover effect */
    -fx-cursor: hand; /* Changes cursor to hand when hovering */
}



.border-radius{
    -fx-background-color: #CEEDFF;
    -fx-background-radius: 5;
    -fx-border-radius: 5; /* Ensure the border itself also has rounded corners. */
}

.barchartContainer{
    -fx-background-color: #CEEDFF;
    -fx-background-radius: 5;
    -fx-border-radius: 5; /* Ensure the border itself also has rounded corners. */
}

.info-text{
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-padding: 20;
    -fx-alignment: top-left;
    -fx-spacing: 5;

}
